<!DOCTYPE html>
<html>

<head>
	<title> Quiz</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
		</script>
	<style>
		#mainContent,
		#heading {
			background-color: rgb(255, 255, 255);
			border: 1px solid rgb(192, 192, 192);
			box-shadow: 5px 5px 5px 3px rgb(128, 128, 128);
			padding-top: 15px;
			margin: 10px;
			border-radius: 5px;
		}

		#heading {
			padding: 5px;
		}

		.hidden {
			display: none;
		}
	</style>



	<script>
		$(function () {
			$("#header").load("/getCommonHeader");
			$("#sidebar").load("/getCommonSidebar");
		});
	</script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>

<body style="background-color: rgb(198, 198, 198)">
	<div id="header"></div>
	<div id="sidebar"></div>

	<div style="margin-left:260px; margin-top: 70px;">
		<div class="row">
			<div class="col-12">
				<h5 class="justify-content-center align-center" id="heading"> All Quizzes List</h5>
			</div>
		</div>

		<div class="row">
			<div class="col-12 d-flex justify-content-end">
				<div
					style="background-color: rgb(255, 255, 255);  box-shadow: 5px 5px 5px 4px rgb(150, 150, 150); margin-right: 10px; border-radius: 5px; ">
					<button id="openFormButton" class="btn btn-outline-primary ">
						<div> <i class="fas fa-plus"></i> </div>

					</button>
					<button class="btn btn-outline-primary" onclick="getQuizList()">
						<i class="fas fa-sync"></i>
					</button>
				</div>
			</div>
		</div>
		<div class=" justify-content-center align-items-center" id="mainContent">

			<div class=" align-items-center" style="margin:15px">

				<table class="table table-striped table-bordered ">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">Title</th>
							<th scope="col">Description</th>
							<th scope="col">maxMarks</th>
							<th scope="col">numberOfQuestions</th>
							<th scope="col">active</th>
							<th scope="col">Operations</th>
						</tr>
					</thead>
					<tbody id="userTableBody">

					</tbody>
				</table>

				<nav class="float-end my-3" aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item"><a class="page-link" href="#"><i class="fa-solid fa-chevron-left"></i></a>
						</li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#"><i
									class="fa-solid fa-chevron-right"></i></a>
						</li>
					</ul>
				</nav>

			</div>
		</div>
		</section>



		<div class="modal" tabindex="-1" role="dialog" id="myModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add New Quiz</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<!-- Your form goes here -->
						<div class="card-body p-md-0 mx-md-5">
							<form id="formId">
								<div class="form-outline mb-4">
									<label class="form-label" for="title">Enter Title</label>
									<input type="text" id="title" class="form-control" placeholder="Add Title"
										name="title" />
								</div>
								<div class="mb-4">
									<label for="description" class="form-label">Enter
										Description</label>
									<textarea class="form-control" id="description" rows="3"></textarea>
								</div>
								<div class="form-outline mb-4">
									<label class="form-label" for="maxMarks">Enter Max Marks</label>
									<input type="text" id="maxMarks" class="form-control" placeholder="maximum marks"
										name="maxMarks" />
								</div>
								<div class="form-outline mb-4">
									<label class="form-label" for="noq">Enter Number Of Question</label>
									<input type="text" id="noq" class="form-control" placeholder="Number Of Question"
										name="noq" />
								</div>
								<div class="d-flex my-3">Quiz Active
									<div class="form-check mx-3">
										<input class="form-check-input" type="radio" name="checkStatus1"
											id="checkStatus1" checked value="true">
										<label class="form-check-label" for="checkStatus1">True</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="checkStatus2"
											id="checkStatus2" value="false">
										<label class="form-check-label" for="checkStatus2">False</label>
									</div>
								</div>

								<select class="form-select my-3" aria-label="Default select example" id="category">
									<option selected>select category Entity</option>
								</select>


								<div class="text-center pt-1 pb-5">
									<button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 w-100"
										type="submit" onclick="addQuiz()">Add Quiz</button>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<script>
		function populateCategories() {
			fetch('http://localhost:9090/category/') // Replace with the actual URL of your Spring Boot endpoint
				.then(response => {
					if (!response.ok) {
						throw new Error('Network response was not ok');
					}
					return response.json();
				})
				.then(data => {
					const categorySelect = document.getElementById('category');

					// Clear existing options
					categorySelect.innerHTML = '';

					// Add options for each category
					const payload = data.payload;

					for (let i = 0; i < payload.length; i++) {
						const category = payload[i];
						console.log(category);
						const option = document.createElement('option');
						option.value = category.id;
						option.text = category.title; // Use the property representing the category name
						categorySelect.appendChild(option);
					}
				})
				.catch(error => {
					console.error('Error fetching categories: ', error);
				});
		}

		// Call the function to populate categories on page load
		document.addEventListener('DOMContentLoaded', populateCategories);
	</script>


	<script>
		// Show the modal when the plus button is clicked
		document.getElementById("openFormButton").addEventListener("click", function () {
			$('#myModal').modal('show'); // Using jQuery to show the Bootstrap moda l
		});
	</script>


	<!--	List Quiz page code end here -->

	<script>
		const deleteButton = document.getElementById("deleteButton");

		function getQuizList() {

			const apiUrl = "http://localhost:9090/quiz/";

			fetch(apiUrl, {
				method: 'GET',
			})
				.then(response => response.json())
				.then(data => {

					const userTableBody = document.getElementById('userTableBody');
					userTableBody.innerHTML = '';  // Clear existing rows

					if (data && data.payload && Array.isArray(data.payload)) {
						const payload = data.payload;

						for (let i = 0; i < payload.length; i++) {
							const quiz = payload[i];
							const row = document.createElement('tr');
							row.innerHTML = `
                                    <th scope="row">${quiz.id}</th>
                                    <td>${quiz.title}</td>
                                    <td>${quiz.description}</td>
                                    <td>${quiz.maxMarks}</td>
                                    <td>${quiz.numberOfQuestions}</td>
                                    <td>${quiz.active}</td>
                                  <td>
								     <a href="http://localhost:9090/quiz/page/updateQuiz/${quiz.id}"><i class="fa-solid fa-pen-to-square mx-2"></i></a>
								     <button onclick="deleteQuiz(${quiz.id})"> <i class="fa-solid fa-trash mx-2 text-danger"></i></button>
							      </td>
                                `;
							userTableBody.appendChild(row);
						}
					} else {
						alert("No data found or data format is incorrect");
					}
				})
				.catch(error => {
					console.error('Error:', error);
					alert("Error fetching data");
				});
		} window.addEventListener('load', getQuizList())



		function deleteQuiz(quizId) {
			console.log(quizId);
			const apiUrl = `http://localhost:9090/quiz/${quizId}`;
			fetch(apiUrl, {
				method: 'DELETE',
			})
				.then(response => response.json())
				.then(data => {
					console.log(data);
					if (data.statusCode === 200) {
						alert("Quiz is deleted successfully ")
						getQuizList();

					}
					else {
						alert("No data found for quiz");
						getQuizList();
					}
				})
				.catch(error => {
					console.error('Error:', error);
					alert("Error fetching data");
				});
		}
	</script>


	<script>
		document.getElementById("openFormButton").addEventListener("click", function () {
			document.getElementById("formContainer").classList.toggle("hidden");
		});

		document.getElementById("popupForm").addEventListener("submit", function (e) {
			e.preventDefault();
			// Handle form submission here (e.g., send data to a server)
			// You can also close the form after submission if needed
			document.getElementById("formContainer").classList.add("hidden");
		});


		let selectedCategoryId = null;

		const categorySelect = document.getElementById('category');
		categorySelect.addEventListener('change', function () {
			selectedCategoryId = categorySelect.value;
			console.log('id is : ', selectedCategoryId);

		});


		function addQuiz() {

			const name = document.getElementById("title").value;
			const description = document.getElementById("description").value;
			const maxMarks = document.getElementById("maxMarks").value;
			const noq = document.getElementById("noq").value;
			const checkStatus = document.getElementById("checkStatus1").value;
		//	const categoryId = selectedCategoryId.value;

			console.log('id is : ', categoryId);

			const quizRequestQuery = {
				name: name,
				description: description,
				maxMarks: maxMarks,
				numberOfQuestions: noq,
				active: checkStatus,
				//category: categoryId
			};

			fetch('http://localhost:9090/quiz', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(quizRequestQuery)
			})
				.then(response => {
					if (response.ok) {
						getCategoryList();
						alert(' Quiz added sucessfully');
					} else {
						alert('Failed to add quiz');
					}
				})
				.catch(error => {
					console.error('Error:', error);
				});
		}
	</script>


</body>

</html>