<!DOCTYPE html>
<html>

<head>
	<title>update</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>

	<style>
		.gradient-custom-2 {
			background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
		}

		input {
			padding-bottom: 10px;
			margin-bottom: 10px;
		}

		label {
			margin-bottom: 5px;
		}
	</style>
</head>

<body>
	<section>
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark"
			style="background-color:#212529; padding: 0; height: 60px;">
			<div class="container-fluid">
				<img src="https://png.pngtree.com/png-vector/20220827/ourmid/pngtree-quiz-time-png-image_6125411.png"
					style="width: 80px; height: auto;">
				<a class="navbar-brand fs-3" href="#">QuizX</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Contact</a>
						</li>
					</ul>

					<a class="btn gradient-custom-2 mx-3 log01 text-light" id="profileButton"
						onclick="getProfilePage()">Profile</a>
					<a class="btn gradient-custom-2 mx-3 log01 text-light" id="logoutButton" href="/user/page/login"
						style="display: none;">LogOut</a>
				</div>
			</div>
		</nav>
	</section>
	<section class="h-100 gradient-form" style="margin-top: 10px;">
		<div class="container py-2 h-100" style="margin-top: 63px;">
			<div class="row d-flex justify-content-center align-items-center">
				<div class="col-xl-10">
					<div class="card rounded-3 text-black">
						<div class="row g-0" style="box-shadow: 5px 5px 10px 2px rgb(128, 128, 128);">
							<div class="col-lg-6">
								<div class="card-body p-md-0 mx-md-5">
									<div class="text-center">
										<img src="https://png.pngtree.com/png-vector/20220827/ourmid/pngtree-quiz-time-png-image_6125411.png"
											style="width:150px;" alt="logo">
										<h4 class="pb-3">Update the details </h4>
									</div>
									<form>
										<div class="form-group">
											<label for="firstName">First Name:</label>
											<input type="text" id="firstName" name="firstName" class="form-control"
												style="width: 100%;" required placeholder="Enter first name">
										</div>

										<div class="form-group">
											<label for="lastName">Last Name:</label>
											<input type="text" id="lastName" name="lastName" class="form-control"
												required placeholder="Enter last name">
										</div>

										<div class="form-group">
											<label for="emailAddress">Email Address:</label>
											<input type="email" id="emailAddress" name="emailAddress"
												class="form-control" required placeholder="Enter email address">
										</div>

										<div class="form-group">
											<label for="password">Password:</label>
											<input type="password" id="password" name="password" class="form-control"
												required placeholder="Enter password">
										</div>

										<div class="form-group">
											<label for="phone">Phone:</label>
											<input type="tel" id="phone" name="phone" class="form-control"
												placeholder="Enter phone number">
										</div>
										<div class="form-group">
											<label for="address">Address</label>
											<textarea type="text" id="address" name="address" class="form-control"
												placeholder="Enter Full Address "></textarea>
										</div>
										<div class="form-group">
											<label for="userType">User Type:</label>
											<select id="userType" name="userType" class="form-control"
												style="width: 100%;" required placeholder="Select User Type">
												<option value="student">Student</option>
												<option value="teacher">Teacher</option>
											</select>
										</div>

										<br>
										<button type="submit" onclick="updateUser()"
											class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3 w-100">Update</button>

									</form>
								</div>
							</div>

							<div class="col-lg-6 d-flex align-items-center gradient-custom-2">
								<div class="text-white px-3 py-4 p-md-5 mx-md-4">
									<h4 class="mb-4">Quiz Time! Join the Fun and Test Your Knowledge</h4>
									<p class="small mb-0">* Quizzes can serve as a valuable tool to reinforce and
										consolidate
										the knowledge gained in the classroom. * They help students review and
										remember
										Preparing for quizzes encourages students to manage their time effectively.
										* This skill is essential for academic success and life in general..</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<script>

		function updateUser() {
			const firstName = document.getElementById('firstName').value;
			const lastName = document.getElementById('lastName').value;
			const emailAddress = document.getElementById('emailAddress').value;
			const password = document.getElementById('password').value;
			const userType = document.getElementById('userType').value;
			const phone = document.getElementById('phone').value;
			const address = document.getElementById('address').value;


			const registerRequest = {
				firstName: firstName,
				lastName: lastName,
				emailAddress: emailAddress,
				password: password,
				userType: userType,
				phone: phone,
				address: address
			};

			const url = "/user/updateUser";

			fetch(url, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(registerRequest)
			})
				.then(data => {
					if (data.status === 201) {
						// Redirect to the URL specified in the response
						window.location.href = "http://localhost:9090/user/page/login";
						alert("Registration successfully completed.");


					} else if (data.status === 400) {
						alert("Registration failed, Please try again");

					} else {
						// Handle the case when the login is unsuccessf
						alert("Registration failed, Please try again");
					}
				})
				.catch(error => {
					alert("An error occurred while trying to registration in.");
				});
		}
	</script>

</body>

</html>