<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>index</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
</head>
<style>
	* {
		font-family: "Gill Sans", sans-serif;
	}


	.navbar a:hover {
		color: #b44593;
	}

	nav {
		height: 60px;
	}

	.nav-item a:hover {
		background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
		border-radius: 10px;

	}

	.gradient-custom-2 {
		background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
	}

	.card01 .card {
		box-shadow: #BFC9CA -5px 5px, #D7DBDD -5px 5px, #D0D3D4 -10px 10px
	}

	.card01 .card:hover {
		transform: translateY(-7%);
		transition: .7s;
	}
</style>

<body>
	<!--  navbar code is start here  -->
	<section>
		<nav class="navbar navbar-expand-lg fixed-top navbar-dark"
			style="background-color:#212529; padding: 0; height: 60px;">
			<div class="container-fluid">
				<img src="https://png.pngtree.com/png-vector/20220827/ourmid/pngtree-quiz-time-png-image_6125411.png"
					style="width: 100px; height: auto;">
				<a class="navbar-brand fs-3" href="#">QuizX</a>
				
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Contact</a>
						</li>
					</ul>
					<a class="btn gradient-custom-2 mx-3 log01 text-light" id="loginButton"
						href="/user/page/login">Login</a>
					<a class="btn gradient-custom-2 mx-3 log01 text-light" id="profileButton"
						onclick="getProfilePage()">Profile</a>
					<a class="btn gradient-custom-2 mx-3 log01 text-light" id="logoutButton" href="/user/page/login"
						style="display: none;">LogOut</a>
				</div>
			</div>
		</nav>
	</section>
	<!--  navbar code is end here  -->


	<!--  carousel section is start here  -->
	<section>
		<div id="carouselExampleIndicators" class="carousel slide mt-5" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
					aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
					aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
					aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img style="height:500px;width:200px;"
						src="https://i.pinimg.com/originals/08/3b/26/083b267734c4ede29bfc2623ee5da185.jpg"
						class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img style="height:500px;width:200px;"
						src="https://adact.me/wp-content/uploads/2022/08/Desktop-71-1-1024x728.png"
						class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img style="height:500px;width:200px;" src="https://img.lovepik.com/photo/45012/4545.jpg_wh860.jpg"
						class="d-block w-100" alt="...">
				</div>
			</div>

			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
				data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
				data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<br><br>
	</section>


	<!--  caed section is start here  -->

	<div class="container card01">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-6 col-lg-3">
				<div class="card gap-3" style="width: 18rem;">
					<img src="https://media.istockphoto.com/id/1346235765/vector/comic-speech-bubbles-with-text-quiz-neon-icon-vintage-cartoon-illustration-symbol-sticker.jpg?s=612x612&w=0&k=20&c=xA79hbHPU1DGyR3YrILh2Q_b_-JJnxHaDNNpPM3Tbhc="
						class="card-img-top" alt="..." style="height: 200px;">
					<div class="card-body">
						<h5 class="card-title fw-bold">Daily Quiz</h5>
						<p class="card-text">The Amazon Daily Quiz has become a highly sought-after online contest in
							recent
							years.</p>
						<center><a href="#" class="btn btn-primary">Go Daily Quiz</a></center>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-3">
				<div class="card" style="width: 18rem;">
					<img src="https://affairscloud.com/assets/uploads/2023/06/Current-Affairs-Quiz-Landing-Page.jpg"
						alt="..." style="height: 200px;">
					<div class="card-body">
						<h5 class="card-title fw-bold"> Current Affairs </h5>
						<p class="card-text">GKToday's Daily Current Affairs Quiz 2023-24 is published daily with
							Multiple
							Choice (MCQs)</p>
						<center><a href="http://localhost:9090/category/page" class="btn btn-primary">Quiz Management</a></center>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-3">

				<div class="card" style="width: 18rem;">
					<img src="https://media.istockphoto.com/id/1336313511/vector/vector-funny-sign-quiz-game-set-of-creative-alphabet-letters-and-numbers.jpg?s=170667a&w=is&k=20&c=7QiA0AcIIMyrsenccp-AlMCnWg3ZnyjoA5nDam7HFBk="
						class="card-img-top" alt="..." style="height: 200px;">
					<div class="card-body">
						<h5 class="card-title fw-bold">Quiz Games</h5>
						<p class="card-text">A quiz is a form of game or mind sport in which players attempt to answer
							questions
							correctly</p>
						<center><a href="#" class="btn btn-primary">Play Game</a></center>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-6 col-lg-3">
				<div class="card" style="width: 18rem;">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ-o3jnMgnGBmmf8uvWbrlckPXmYplpCGPXg&usqp=CAU"
						class="card-img-top" alt="..." style="height: 200px;">
					<div class="card-body">
						<h5 class="card-title fw-bold">Test</h5>
						<p class="card-text">A quiz refers to a short test of knowledge, typically around 10 questions
							in length
						</p>
						<center><a href="#" class="btn btn-primary">Attempt Test</a></center>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--  card section is end here  -->


	<!-- Fotter code is start here -->
	<section>
		<div class="d-flex flex-column h-100 mt-5">
			<footer class="w-100 py-4 flex-shrink-0 bg-dark">
				<div class="container py-4">
					<div class="row gy-4 gx-5">
						<div class="col-lg-4 col-md-6">
							<h5 class="h1 text-white">QuizX</h5>
							<p class="small text-white">Quizzes can help your students practice their existing knowledge
								while piquing their interest in understanding a different topic..</p>
							<p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a
									class="text-primary" href="#"></a></p>
						</div>
						<div class="col-lg-2 col-md-6">
							<h5 class="text-white mb-3">About</h5>
							<ul class="list-unstyled text-muted">
								<li><a href="#">Home</a></li>
								<li><a href="/user/page/login">Login</a></li>
								<li><a href="/user/page/registration">Register</a></li>
								<li><a href="#">About</a></li>
							</ul>
						</div>
						<div class="col-lg-2 col-md-6">
							<h5 class="text-white mb-3">Quick links</h5>
							<ul class="list-unstyled text-muted">
								<li><a href="#">Java</a></li>
								<li><a href="#">Python</a></li>
								<li><a href="#">Spring boot</a></li>
								<li><a href="#">Hibernate</a></li>
								<li><a href="#">Html</a></li>
								<li><a href="#">Servlet</a></li>
							</ul>
						</div>

						<div class="col-lg-4 col-md-6">
							<h5 class="text-white mb-3">Newsletter</h5>
							<p class="small text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
								eiusmod tempor incididunt.</p>
							<form action="#">
								<div class="input-group mb-3">
									<input class="form-control" type="text" placeholder="Student username"
										aria-label="username" aria-describedby="button-addon2">
									<button class="btn btn-primary" id="button-addon2" type="button">submit</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</section>
	<!-- Fotter code is end here -->

	<script>
		function getUserDetails() {

			const userName = document.getElementById('name')

			fetch('http://localhost:9090/user/user', {
				method: 'GET',
				headers: {
					'Content-Type': 'application/json'
				},
			})

				.then(data => {
					if (data.status === 200) {
						//hides the login button and show the profile button and logout

						document.getElementById('loginButton').style.display = 'none';
						// Show the profile button
						document.getElementById('profileButton').style.display = 'block';

						document.getElementById('logoutButton').style.display = 'block';
					} else if (data.status === 403) {
						alert("User authentication failed. Please check your credentials.1");

					} else {
						// Handle the case when the login is unsuccessf
						alert(" User authentication failed. Please check your credentials.2");
					}
				})
				.catch(error => {
					alert("An error occurred while trying to authenticate.");
				});
		}

		window.addEventListener('load', getUserDetails());
	</script>


	<script>

		function getProfilePage() {
			window.location.href = "http://localhost:9090/user/page/profile";
		}
	</script>


</body>

</html>