<!DOCTYPE html>
<html>

<head>
	<title> Quiz</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous">
		</script>
	<style>
		#quizCard,
		#heading {
			background-color: rgb(255, 255, 255);
			border: 1px solid rgb(192, 192, 192);
			box-shadow: 5px 5px 5px 5px rgb(128, 128, 128);
			padding-top: 15px;
			margin: 10px;
			border-radius: 5px;
		}

		#heading {
			padding: 5px;
		}

		.hidden {
			display: none;
		}

		#refresh-container {
			position: fixed;
			bottom: 20px;
			/* Adjust this value to control the distance from the bottom */
			right: 20px;
			/* Adjust this value to control the distance from the right */
		}
		
		.card{
			transition: transform 0.2s;
			box-shadow: 5px 5px 5px 5px rgb(128, 128, 128);
			border: 2px solid rgb(10, 50, 100);
		}

	.card:hover {
			transform: scale(1.05);
		}
	</style>



	<script>
		$(function () {
			$("#header").load("/getCommonHeader");
		});
	</script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body style="background-color: rgb(198, 198, 198)">
	<div id="header"></div>

	<div style="margin-top: 70px;">
		<div class="row">
			<div class="col-12">
				<h5 align="center" class="justify-content-center align-center" id="heading"> Welcome to Quizz </h5>
			</div>
		</div>


		<div>

			<div class=" align-items-center" style="margin:15px">
				<div class="container mt-5">
					<div class="row" id="quizCards">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12 d-flex justify-content-end">
				<div id="refresh-container"
					style="background-color: rgb(255, 255, 255);  box-shadow: 5px 5px 5px 4px rgb(150, 150, 150); margin-right: 10px; border-radius: 5px;">
					<button class="btn btn-outline-primary" onclick="getQuizList()">
						<i class="fas fa-sync"></i>
					</button>
				</div>
			</div>
		</div>

		<script>
			document.addEventListener('DOMContentLoaded', function () {
				const tableRows = document.querySelectorAll("rowId");

				tableRows.forEach(row => {
					row.addEventListener('click', function () {
						// Extract the URL or data you want to navigate to
						const url = 'http://localhost:9090/quiz/page'; // Replace with the URL you want to navigate 
						// Open the new page or navigate to the URL
						window.location.href = url;
					});
				});
			});
		</script>



		<!--	List Quiz page code end here -->

		<script>
			function getQuizList() {

				const apiUrl = "http://localhost:9090/quiz/";

				fetch(apiUrl, {
					method: 'GET',
				})
					.then(response => response.json())
					.then(data => {

						const quizCards = document.getElementById('quizCards');
						quizCards.innerHTML = '';  // Clear existing rows


						if (data && data.payload && Array.isArray(data.payload)) {
							const quizzes = data.payload;

							for (let i = 0; i < quizzes.length; i++) {
								const quiz = quizzes[i];  // Access the current quiz object

								const card = document.createElement('div');
								card.classList.add('col-md-4', 'mb-4');
								card.innerHTML = `
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title"><strong>${quiz.title}</strong></h5>
                                                <p class="card-text">Description: ${quiz.description}</p>
                                                <p class="card-text">Max Marks: ${quiz.maxMarks}</p>
                                                <p class="card-text">Number of Questions: ${quiz.numberOfQuestions}</p>
                                                <a href="http://localhost:9090/play/page/${quiz.id}" class="btn btn-primary">Play Quiz</a>
                                            </div>
                                        </div>
                                    `;
								quizCards.appendChild(card);
							}
						} else {
							alert("No data found or data format is incorrect");
						}
					})
					.catch(error => {
						console.error('Error:', error);
						alert("Error fetching data");
					});
			} window.addEventListener('load', getQuizList())


		</script>

		<script>

			function getQuizQuestions(quizId) {
				const apiUrl = `http://localhost:9090/question/inQuiz/${quizId}`;
				fetch(apiUrl, {
					method: 'GET',
				})
					.then(response => response.json())
					.then(data => {
						console.log(data);
						if (data.statusCode === 200) {
							alert("Quiz is deleted successfully ")
							getQuizList();

						}
						else {
							alert("No Questions found for quiz");
							getQuizList();
						}
					})
					.catch(error => {
						console.error('Error:', error);
						alert("Error fetching data");
					});

			}
		</script>




</body>

</html>